</div><!-- /row -->
			<div class = "box">
				<a target="_blank" href="images/ResumeJuly212014.pdf" class="regular-link" style="color: #ffffff"><span class="font-semibold">CV</span></a></span>
			</div>
		</div><!-- /container -->
	</div><!-- /slide2 -->
	
	<!-- === SLide 3 - Portfolio -->
	<div class="slide story" id="slide-3" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox fancybox.iframe" href="post1.html"><img class="thumb" src="images/sublime.png" alt=""></a></div>
		</div>
	</div>
	
	<!-- === Slide 4 / Contact === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">Contact <span class="font-semibold">Me</span></div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Need anything? Here are a few ways to get in contact.</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-6 col-sm-3 with-hover-text">
					<p><a target="_blank"><i class="icon icon-mobile-phone"></i></a></p>
					<span class="hover-text font-light ">(203) 913-8594</span></a>
				</div><!-- /col12 -->
				<div class="col-6 col-sm-3 with-hover-text">
					<p><a target="_blank" href="mailto:thomas.romano@duke.edu"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">thomas.romano@duke.edu</span></a>
				</div><!-- /col12 -->
				<div class="col-6 col-sm-3 with-hover-text">
					<p><a target="_blank" href="https://github.com/tomrom95"><i class="icon icon-github"></i></a></p>
					<span class="hover-text font-light ">tomrom95</span></a>
				</div><!-- /col12 -->
				<div class="col-6 col-sm-3 with-hover-text">
					<p><a target="_blank" href="https://www.linkedin.com/pub/thomas-romano/9b/a57/a54/"><i class="icon icon-linkedin"></i></a></p>
					<span class="hover-text font-light ">Thomas Romano</span></a>
				</div><!-- /col12 -->
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
		</div><!-- /container -->
	</div><!-- /Slide 4 -->
	
</body>

	<!-- SCRIPTS -->

	<script src="js/html5shiv.js"></script>
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/script.js"></script>
	<script type="text/javascript" src="css/jquery.fancybox.pack-v=2.1.5.js"></script>
	
	<!-- fancybox init -->
	<script>
	$(document).ready(function(e) {
		var lis = $('.nav > li');
		menu_focus( lis[0], 1 );
		
		$(".fancybox").fancybox({
			padding: 10,
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	
	});
	</script>

</html>